@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
    background: #272727;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    color: #fddb3a;
  }
.arrow {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    color: black;
    background-color: #fddb3a;
    color: black;
  }
  
  .arrow:hover {
    background-color: #ddd;
    color: black;
  }
  
  .round {
    border-radius: 50%;
  }